/* CSS STYLE */

* {
    font-family: Montserrat;
}

/* NAVBAR LOGO*/
.header {
    padding-bottom: 20px;
    background-color: background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,219,215,1)), color-stop(0%, rgba(219,95,79,1)), color-stop(38%, rgba(225,96,76,1)), color-stop(100%, rgba(194,156,43,1)));
    background: -webkit-linear-gradient(top, rgba(244,219,215,1) 0%, rgba(219,95,79,1) 0%, rgba(225,96,76,1) 38%, rgba(194,156,43,1) 100%);
    background: -o-linear-gradient(top, rgba(244,219,215,1) 0%, rgba(219,95,79,1) 0%, rgba(225,96,76,1) 38%, rgba(194,156,43,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,219,215,1) 0%, rgba(219,95,79,1) 0%, rgba(225,96,76,1) 38%, rgba(194,156,43,1) 100%);
    background: linear-gradient(to bottom, rgba(244,219,215,1) 0%, rgba(219,95,79,1) 0%, rgba(225,96,76,1) 38%, rgba(194,156,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4dbd7', endColorstr='#c29c2b', GradientType=0 );
    opacity: 10;
}

.main_menu {
    width: 100%;
    height: 50px;
    display: block;

}

.logo {
    width: 25%;
    height: 50px;
    display: block;
    float: left;
}

.logo img {
    float: right;
    margin-top: 10px;
}

.navbar-nav {
    width: 72%;
    height: 49px;
    display: block;
    float: right;

}

a:link {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    color: #FCE38A;
}

.navbar ul a li:hover {
    color: #FCE38A;
}


.navbar ul {
    float: right;
}


.navbar ul li {
    display: inline;
    margin-right: 4%;
    text-transform: uppercase;
    font-size: 0.7em;
    color: white;
}

input {
    width: 0px;
    border: none;
    background-color: transparent;
}

.fa.fa-search {
    color: white;
}
/*END OF NAVBAR AND LOGO*/


/* Creative Template, Welcome MoGO*/

.kaushan {
    font-family: "Kaushan Script";
    text-align: center;
    margin-top: 25px;
    color: #333333;
}

.kaushan.creative_t {
    color: white;
    font-size: 2.5em;
    margin: 7% 0% 0% 0%;

}

.welcome {
    text-align: center;
    color: white;
    font-size: 5em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.bottom_line {
    border: 1.5px solid white;
    width: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.btn_learn_more {
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    width: 100px;
    padding: 7px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}


.second_nav {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.second_nav li {
    display: inline;
    border-top: 2px solid white;
    padding-top: 8px;
    padding-right: 100px;
    margin-right: 25px;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
}
/* END OF HEADER */


/* Start of main_about*/

.text-center {
    text-align: center;
}

.kaushan.what_we_do {
    color: #333333;
    padding-top: 50px;
}

.story {
    text-transform: uppercase;
    color: #333333;
}

.bottom_line.red-line{
    border: 1.5px solid red;
}

.roboto {
    font-family: roboto;

}

.paragraph {
    font-size: 1em;
    color: #797979;
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* 3 images */

.main_about_3_img {
    display: inline-block;
    width: 900px;
    padding-top: 85px;
    padding-right: 20px;

}

.margin_auto {
    margin: 0 auto;
}

.img_1 {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 35px;
}

.img_1 img {
   width: 100%;
}

.img_2 {

    width: 250px;
    height: 250px;
    float: left;
    margin-right: 35px;
}

.img_2 img {
   width: 100%;
}


.img_3 {

    width: 250px;
    height: 250px;
    float: left;
    margin-right: 35px;
}

.img_3 img {
    width: 100%;
}

/*end of main_about*/



/* members bar*/
.members_bar_info {
    width: 100%;
    background-color: #3BD3BA;
    color: white;
    margin: 0;
    margin-bottom: 70px;
    padding: 0;

}

.brd-left{
    border-left: 1px solid #fff;
}


.brd-right{
    border-right: 1px solid #fff;
}

.h150{
    height: 150px;
}

.float-right{
    float: right;
}

.float-left{
    float: right;
}

.numbers {
    font-size: 3em;
    margin-bottom: 0px;
}

.info {
    font-size: 0.55em;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: normal;
}
/* end of members bar*/



/* amazing services*/

.amazing_services {
    width: 100%;
}

.main_content {
    height: 230px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 65px;
}

.item {
    width: 25%;
    height: 65px;
    margin: 15px 0px 4% 5%;
    float: left;
    font-size: 10px;
    line-height: 15px;
}

.fa.w2 {
    float: left;
    color: #3BD3BA;
    margin: 5px 0px 0px 5px;
    font-size: 20px;
}

.main-description {
    margin-left: 40px;
}

.main_service {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: normal;
    color: #333333;
    float: left;
    margin: 0;
    margin-top: 5px;
}

.lorem_ipsum {
    float: left;
    text-align: justify;
    color: #999999;
}

/* end of amazing services*/



/* start for all devices*/

.for_all_devices {
    background-color: #E3E8F0;
    padding-top: 30px;
}

.device_1 {
    text-align: center;
    margin-top: 45px;
}

.device_2 {
    text-align: center;
    margin-top: -380px;
    margin-left: 500px;
}

/* end of start for all devices*/

/*start of services, what we do*/

.service_content {
    width: 100%;
    height: 230px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 25px;
}


.left-right-image {
    text-align: center;
}

.left {
    width: 570px;
    height: 365px;
    display: inline-block;
}

.left img {
    width: 100%;
}

.right {
    width: 570px;
    height: 375px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.v-1 {
    width: 570px;
    height: 50px;
    border: 1px solid #E5E5E5;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.v-1.b {
    width: 570px;
    height: 170px;
    margin-top: -1px;
}

.v-1.c {
    width: 570px;
    height: 50px;
    margin-top: 15px;
}

.v-1.d {
    margin-left:0;
    margin-top: 15px;
}


.b p {
    font-size: 15px;
    font-family: roboto;
    color: #999999;
    text-align: justify;
    margin: 25px 25px 25px 25px;
}


.z-1 {
    font-size: 14px;
    float: left;
    margin: 15px 0px 15px 15px;
    text-transform: uppercase;
    font-weight: normal;
}

.fa.w3 {
    float: left;
    color: #3BD3BA;
    margin: 10px 0px 0px 10px;
    font-size: 30px;
}

.fa.w4 {
    float: right;
    color: #CCCCCC;
    margin: 10px 10px 0px 0px;
    font-size: 30px;
}
/*end of services, what we do*/


/* start of qoute*/
.quote_content {
    background-color: #F8F8F8;
    width: auto;
    margin-top: 150px;
}

.main_quote {
   margin: 0 auto;
   padding-top: 50px;
   width: 1000px;
   height: 200px;
}

.img-quote {
    float: left;
}

.quote {
    float: left;
    width: 700px;
    margin-left: 50px;
}

.quote p {
    font-family: "Roboto Condensed Light";
    font-size: 24px;
    margin-top: 5px;
    color: #999999;
    text-align: justify;
}

.signature {
    font-family: "Kaushan Script";
    font-weight: normal;
}


.line_before {
    background: #F38181;
    display: inline-block;
    height: 2px;
    width: 40px;
    margin: 13px 10px;
    float: left;
}


/* end of qoute*/


/* Global styles */

body{
    margin: 0;
    padding:0;
}

.content{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.gr5_col1:after{

}
.gr5_col1{
    width: 20%;
    display: inline-block;
    margin-right:-10px;
    padding:0;
}

.gr5_col2{
    width: 40%;
    display: inline-block;
    margin:0;
}

.gr5_col3{
    width: 60%;
    display: inline-block;
    margin:0;
}

.gr5_col4{
    width: 80%;
    display: inline-block;
    margin:0;
}

.gr5_col5{
    width: 100%;
    display: inline-block;
    margin:0;
}

.div {
    box-sizing: border-box;
}



/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
    .logo img {
        width: 40%;
        margin-top: 10px;
    }

    .intro.text-center {
        width: 768px;
    }

    .main_content {
        width: 768px;
    }

    .content{
        width: 768px;
    }

    .navbar {
        margin: 0;
        font-size: 12px;
        width: 55%;
        float: right;
        margin-right: 60px;
    }

    .second_nav {
        width: 90%;
        font-size: 11px;
    }

    .roboto.paragraph {
        width: 550px;
        font-size: 9px;
    }

    .main_about_3_img.margin_auto img {
        width: 100%;
        margin-left: 110px;
        padding-top: 10px;
    }

    .main_about_3_img.margin_auto {
        width: 450px;
    }

    .members_bar_info {
        font-size: 0.74em;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .gr5_col1{
        width: 20%;
        display: inline-block;
    }

    .gr5_col2{
        width: 40%;
        display: inline-block;
    }

    .gr5_col3{
        width: 60%;
        display: inline-block;
    }

    .gr5_col4{
        width: 80%;
        display: inline-block;
    }

    .gr5_col5{
        width: 100%;
        display: inline-block;
    }

    .right {
        margin: 0;
    }

    .v-1 {
        margin: 0;
        margin-top: 30px;
    }

    .quote_content {
        width: 768px;
    }

    .main_quote {
        width: 768px;
    }
    .img-quote img {
        width: 50%;
        margin-left: 50px;
    }

    .img-quote {
        margin: 0;
    }
    .quote {
        width: 400px;
        margin: 0;
    }

    .quote p {
        font-size: 15px;
    }
}


@media only screen and (max-width: 1024px) {
    .roboto.paragraph {
        width: 650px;
        font-size: 10px;
    }

    .main_about_3_img.margin_auto img {
        width: 100%;
        margin-left: 50px;
    }

    .members_bar_info {
        font-size: 0.74em;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .gr5_col1{
        width: 20%;
        display: inline-block;
    }

    .gr5_col2{
        width: 40%;
        display: inline-block;
    }

    .gr5_col3{
        width: 60%;
        display: inline-block;
    }

    .gr5_col4{
        width: 80%;
        display: inline-block;
    }

    .gr5_col5{
        width: 100%;
        display: inline-block;
    }

    x.intro.text-center {
        width: 1000px;
    }

    x.content {
        width: 1000px;
    }

    x.right {
        margin: 0;
    }

    x.v-1 {
        margin: 0;
        margin-top: 30px;
    }
}