/* CSS STYLE */

/*MEDIA QUERIES*/

@media only screen and (max-width: 1024px) {
    .roboto.paragraph {
        width: 650px;
        font-size: 10px;
    }

    .main_about_3_img.margin_auto {
        width: 700px;
        border: 1px solid black;

    }





}


@media only screen and (max-width: 768px) {
    .logo img {
        width: 40%;
        margin-top: 10px;

    }

    .navbar {
        font-size: 12px;
        width: 55%;
        margin: 0;
        float: right;
        margin-right: 60px;
    }

    .second_nav {
        width: 90%;
        font-size: 11px;
    }

    .roboto.paragraph {
        width: 550px;
        font-size: 9px;
    }
}


* {
    font-family: Montserrat;
}



/* NAVBAR LOGO*/
.header {
    xborder: 1px solid black;
    padding-bottom: 20px;
    background-color: background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,219,215,1)), color-stop(0%, rgba(219,95,79,1)), color-stop(38%, rgba(225,96,76,1)), color-stop(100%, rgba(194,156,43,1)));
    background: -webkit-linear-gradient(top, rgba(244,219,215,1) 0%, rgba(219,95,79,1) 0%, rgba(225,96,76,1) 38%, rgba(194,156,43,1) 100%);
    background: -o-linear-gradient(top, rgba(244,219,215,1) 0%, rgba(219,95,79,1) 0%, rgba(225,96,76,1) 38%, rgba(194,156,43,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,219,215,1) 0%, rgba(219,95,79,1) 0%, rgba(225,96,76,1) 38%, rgba(194,156,43,1) 100%);
    background: linear-gradient(to bottom, rgba(244,219,215,1) 0%, rgba(219,95,79,1) 0%, rgba(225,96,76,1) 38%, rgba(194,156,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4dbd7', endColorstr='#c29c2b', GradientType=0 );
    opcity: 10;
}

.main_menu {
    xborder: 1px solid black;
    width: 100%;
    height: 50px;
    display: block;

}

.logo {
    xborder: 1px solid black;
    width: 25%;
    height: 50px;
    display: block;
    float: left;
}

.logo img {
    float: right;
    margin-top: 10px;
}

.navbar-nav {
   x border: 0.8px solid red;
    width: 72%;
    height: 49px;
    display: block;
    float: right;

}

a:link {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    color: #FCE38A;
}

.navbar ul a li:hover {
    color: #FCE38A;
}


.navbar ul {
    float: right;
}


.navbar ul li {
    display: inline;
    margin-right: 4%;
    text-transform: uppercase;
    font-size: 0.7em;
    color: white;
}

input {
    width: 0px;
    border: none;
    background-color: transparent;
}

.fa.fa-search {
    color: white;
}
/*END OF NAVBAR AND LOGO*/


/* Creative Template, Welcome MoGO*/

.kaushan {
    font-family: "Kaushan Script";
    text-align: center;
}

.kaushan.creative_t {
    color: white;
    font-size: 2.5em;
    margin: 7% 0% 0% 0%;

}

.welcome {
    text-align: center;
    color: white;
    font-size: 5em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.bottom_line {
    border: 1.5px solid white;
    width: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.btn_learn_more {
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    width: 100px;
    padding: 7px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}


.second_nav {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.second_nav li {
    display: inline;
    border-top: 2px solid white;
    padding-top: 8px;
    padding-right: 100px;
    margin-right: 25px;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
}
/* END OF HEADER */


/* Start of main_about*/

.text-center {
    text-align: center;
}

.kaushan.what_we_do {
    color: #333333;
    padding-top: 50px;
}

.story {
    text-transform: uppercase;
    color: #333333;
}

.bottom_line.red-line{
    border: 1.5px solid red;
}

.roboto {
    font-family: roboto;

}

.paragraph {
    font-size: 1em;
    color: #797979;
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* 3 images */

.main_about_3_img {
    display: inline-block;
    width: 900px;
    padding-top: 85px;
    padding-right: 20px;

}

.margin_auto {
    margin: 0 auto;
}

.img_1 {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 35px;
}

.img_1 img {
   width: 100%;
}


.img_2 {

    width: 250px;
    height: 250px;
    float: left;
    margin-right: 35px;
}

.img_2 img {
   width: 100%;
}


.img_3 {

    width: 250px;
    height: 250px;
    float: left;
    margin-right: 35px;
}

.img_3 img {
    width: 100%;
}

/*end of main_about*/


/* members bar*/

.members_bar {
    background-color: #3BD3BA;
    height: 180px;
    color: white;
    text-align: center;

}


/*end of members bar*/







